.container-row {
  direction: row;
}

.gridcontainer-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rodape {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons {
  font-size: 40px;
  color: white;
}

a {
  text-decoration: none;
}

.box1 {
  background-color: #543581;
  height: 120px;
}

.box2 {
  background-color: #543581;
  height: 60px;
}

.box_text-white {
  color: white;
}

.box_text-black {
  color: black;
}

.box_text-align {
  text-align: center;
}
